        body {
            font-family: Arial, sans-serif;
            background-color: navajowhite;
            margin: 0;
            padding: 0;
        }
        header, footer {
            background-color: #2b812e;
            color: white;
            text-align: center;
            padding: 1em 0;
        }
        nav {
            display: flex;
            justify-content: space-around;
            background-color: #333;
        }
        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }
        nav a:hover {
            background-color: #ddd;
            color: black;
        }
        .container {
            padding: 20px;
            text-align: center;
        }
        .habitat, .animal, .avis {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
            background-color: #1e6630;
            color: rgb(216, 123, 17);
            text-align: center;
            padding: 1em 0;
        }
        .service {
            text-align: center;
        }

        .habitat img, .animal img {
            max-width: 100%;
        }
      .annotation {
        font-size: 8pt;
      }

      h2 {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        

      }